h1{
    color: white;
    background: blue;
    text-align: center;
}
p{
    text-align: center;
    background: lightblue;
    
}
a{
    color: red;
}
.fa-address-book{
    color: red;
    font-size: 100px;
}